{{#each ideas}}
<div class="card card-body mb-2">
  <h4>{{title}}</h4>
  <p>{{details}}</p>
  <a href="/ideas/edit/{{id}}" class="btn btn-secondary btn-block">Editer</a>
  <form method="post" action="/ideas/{{id}}?_method=DELETE">
  <input type="hidden" name="_method" value="DELETE"> 
  <input type="submit" class="btn btn-danger btn-block mt-2" value="Effacer">
  </form>
</div>
{{else}}
<p>Aucune idée de vidéo dans votre liste</p>
{{/each}}